html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
  color: #222;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.header {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

nav {
  font-size: 1.125rem;
  font-weight: bold;
}

nav ol {
  list-style-type: none;
}

nav a {
  font-family: "PT Sans", sans-serif;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}

figure figcaption {
  font-style: italic;
  text-align: center;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote strong {
  font-weight: normal;
}

blockquote footer cite {
  font-size: .8rem;
}

ol {
  list-style-type: lower-greek;
}

h2 p {
  font-style: italic;
}

figure + p {
  font-weight: bold;
  font-size: 1.125rem;
}

h2 + p {
  font-style: italic;
}

dl dt {
  font-weight: bold;
}

aside ul {
  list-style-type: circle;
}

aside li {
  font-size: .8rem;
}

footer {
  font-size: .8rem;
}

img {
  width: 100%;
}

.serving {
  font-style: italic;
}
